.wp-core-ui .button-primary {
background-color: #6522CC;
background-image: -webkit-gradient(linear,left top,left bottom,from(#7000A5),to(#6522CC));
background-image: -webkit-linear-gradient(top,#7000A5,#6522CC);
background-image: -moz-linear-gradient(top,#7000A5,#6522CC);
background-image: -ms-linear-gradient(top,#7000A5,#6522CC);
background-image: -o-linear-gradient(top,#7000A5,#6522CC);
background-image: linear-gradient(to bottom,#7000A5,#6522CC);
border-color: #6522CC;
border-bottom-color: #1e6a8d;
-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
color: #fff;
text-decoration: none;
text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.wp-core-ui .button-primary:hover {
background-color: #7000A5;
background-image: -webkit-gradient(linear,left top,left bottom,from(#6522CC),to(#7000A5));
background-image: -webkit-linear-gradient(top,#6522CC,#7000A5);
background-image: -moz-linear-gradient(top,#6522CC,#7000A5);
background-image: -ms-linear-gradient(top,#6522CC,#7000A5);
background-image: -o-linear-gradient(top,#6522CC,#7000A5);
background-image: linear-gradient(to bottom,#6522CC,#7000A5);
border-color: #7000A5;
border-bottom-color: #1e6a8d;
-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
color: #fff;
text-decoration: none;
text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.login #nav a, .login #backtoblog a
{
	color: #6522CC!important;
}
.login form .input, .login input[type="text"] 
{
	color: #6522CC;
}
.login label 
{
	color: #6522CC;
}

div.updated, .login .message 
{
	background-color: #7000A5;
	border-color: #6522CC;
	color: #fff;
}